*.cache
*.o
.deps/
.libs/
/*.tar.gz
/*.tar.xz
/Makefile
/Makefile.in
/aclocal.m4
/build-aux/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/org.freedesktop.RealtimeKit1.service
/rtkit-daemon
/rtkit-daemon.service
/rtkit-test
/rtkitctl
/xml-introspection.c
stamp*
