stamp*
*.tar.gz
.deps/
.libs/
*.cache
rtkit-daemon
rtkit-test
rtkitctl
*.o
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
Makefile
